.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
}

.user-img__wrapper {
  display: flex;
  justify-content: center;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;

  @include desktop {
    //margin-bottom: 35px;
  }
}

.user__img {
  max-height: 100%;
  transform: scale(1.4); //заменить фото и удалить
}

.user__title {
  font-family: 'Roboto-Medium';
  font-size: 33px;
  margin-bottom: 6px;
}

.user__desc {
  display: block;
  font-family: 'Roboto-Light';
  font-size: 16px;
  opacity: .8;
}

.user__desc--ff-regular {
  font-family: 'Roboto-Regular';
}

.user--textcolor-dark {
  color: $text-color;
}