.hero__container {
  grid-area: hero;
  background: url(./assets/images/bg/bg-hero.png) center center / cover no-repeat;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero__socials {
  position: absolute;
  top: calc(32 * 100 / 1200)%;
  left: calc(38 * 100 / 1800)%;

  @include phones {
    top: 15px;
    left: 10px;
  }
}

.hero__menu {
  position: absolute;
  top: calc(38 * 100 / 1200)%;
  right: calc(32 * 100 / 1800)%;

  @include phones {
    top: 10px;
    right: 10px;
  }
}


.hero__title {
  position: absolute;
  display: flex;
  width: 90%;
  height: 90%;
}

.hero__pic {
  width: 100%;
  height: 100%;
  fill: white;
  opacity: .06;
}

.hero__arrow-down {
  position: absolute;
  bottom: calc(100 * 100 / 1200)%;
  z-index: 100;
}