.nav {
  display: flex;
  width: 100%;
  border-radius: 5px;
}

.nav__list {
  display: flex;
  width: 100%;
}

.nav__item {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .2s;

  &--profile {
    background-color: rgba($main, .5);
    border-right: 2px solid rgba(white, .5);

    &:first-child {
      border-radius: 0 0 0 5px;
    }

    &:last-child {
      border-right: none;
      border-radius: 0 0 5px 0;
    }

    &:hover {
      background-color: $secondary;
    }

    .nav__link {
      margin-right: 0;
      padding: 14px 31px;


      @include phones {
        padding: 14px 23px;
      }
    }
  }
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
  width: 100%;
  height: 100%;
  transition: all .2s;

  &--hover:hover {
    color: $main;
  }

  @include phones {
    margin-right: 7px;
  }
}

.nav__item:last-child {
  .nav__link {
    margin-right: 0;
  }
}
