.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $bg-color;
}

.blog__container {
  display: grid;
  grid-template:
    'hero' 100vh
    'blog' minmax(100vh, auto)
  / 1fr;
}

.block__content {
  grid-area: blog;
}

.blog__triangle {
  display: flex;

  .triangle {
    width: 50%;
  }
}