extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content

  section.hero
    .hero__socials

    .hero__menu
    .hero__content
    .hero__arrow-down