extends ../main.layout.pug

block variables
  - var title = 'Блог'

block content
  .blog__container
    section.hero__container
      .hero.hero--blog
        .hero__socials
          ul.socials__list
            -
              var socials = [
              { name: 'vk', href: 'https://vk.com/mrjeerihon'},
              { name: 'github', href: 'https://github.com/Jeerihon'},
              { name: 'in', href: 'https://www.linkedin.com/in/artem-korytov-4488ab177/'}
              ]

            each item in socials
              li.socials__item
                a(href=`${item.href}`).socials__link
                  +icon(`${item.name}`, 'social__img')
        .hero__menu
          .burger-btn
            .burger-btn__elem
        .hero__title.hero__title--blog
          +icon('blog_header', 'hero__pic hero__pic--blog')
        .hero__content
          +user('Блог', 'title title--color-white', 'Статьи, которые я написал', 'user__desc')


    .blog__content
      .blog__triangle.triangle__container
        .triangle.triangle--left.triangle--blog
          svg(viewBox="0 0 1200 300" preserveAspectRatio="none").triangle-pic.triangle-pic--blog
            polygon(points='0,0 0,300 1200,300 1200,280')
        .triangle.triangle--right.triangle--blog
          svg(viewBox="0 0 1200 300" preserveAspectRatio="none").triangle-pic.triangle-pic--blog
            polygon(points='1200,50 1200,300 0,300 0,280')
      include ../blocks/articles


block scripts
  script(src='blog.bundle.js')