extends ../auth.layout.pug

block profile
  article.profile-block
    .profile-block__top
      .user
        .user-img__wrapper
          +image('avatar.jpg', 'avatar pic', 'user__img')
        span.user__name Корытов Артем
        span.user__spec  Личный сайт веб разработчика

        ul.socials__list.profile__socials
          -
            var socials = [
              { name: 'vk', href: 'https://vk.com/mrjeerihon'},
              { name: 'github', href: 'https://github.com/Jeerihon'},
              { name: 'in', href: 'https://www.linkedin.com/in/artem-korytov-4488ab177/'}
            ]

          each item in socials
            li.socials__item
              a(href=`${item.href}`).socials__link
                +icon(`${item.name}`, 'social__img')
    .profile-block__bot
      -
        var links = [
          { name: 'Мои работы', href: 'works'},
          { name: 'Обо мне', href: 'about'},
          { name: 'Блог', href: 'blog'}
        ]

      nav.nav
        ul.nav__list
          each link in links
            li.nav__item
              a.nav__link(href=`${link.href}.html`) #{link.name}