extends ../auth.layout.pug

block profile
  article.profile
    .profile-img__wrapper
      .profile__img
    span.profile__name Корытов Артем
    span.profile__spec  Личный сайт веб разработчика
    include ../common/index/socials
    include ../common/nav