.about__container {
  display: grid;
  grid-template:
    'hero' 100vh
    'content' minmax(100vh, auto)
    'contacts' 100vh
    / 100vw;
  height: 100%;
}

.about__content-container {
  display: grid;
  grid-template:
          "left right" 1fr
          / 1fr 1fr;
}

.about__content {
  grid-area: content;
}

.about__col {
  position: relative;
  display: flex;
  background-color: $bg-color;
  padding: 20px;

  &--left {
    grid-area: left;
  }

  &--right {
    grid-area: right;
  }

  &--bg-dark {
    background-color: $bg-color--dark;
  }
}

.about__content {
  display: flex;
}


.about__contacts {
  grid-area: contacts;
}