

.userblock__wrap {
  margin-bottom: calc(40 * 100 / 1200)%;
  padding: 0 40px;
}

.userblock__img {
  max-width: 100%;
}

.userblock__title {
  margin-bottom: 40px;
}

.userblock__text {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}