



.userblock__container {
  display: grid;
  grid-gap: 20px;
  grid-template:
          "title main" 1fr
          / 1fr 1fr;
}

.userblock {
  grid-area: main;
  //padding-top: 20px;
}

.userblock__img-wrap {
  margin-bottom: calc(40 * 100 / 1200)%;
  //padding: 0 40px;
}

.userblock__img {
  max-width: 100%;
}

.userblock__title {
  grid-area: title;
  position: relative;

  .title-bg {
    top: 3%;
  }
}

.userblock__subtitle {
  margin-bottom: calc(40 * 100 / 1200)%;
}

.userblock__text {
  margin-bottom: 20px;
  width: 95%;
}