// header
-
  var socials = [
  { name: 'vk', href: 'https://vk.com/mrjeerihon'},
  { name: 'github', href: 'https://github.com/Jeerihon'},
  { name: 'in', href: 'https://www.linkedin.com/in/artem-korytov-4488ab177/'}
  ]

section.hero
  .hero__container
    .hero__bg.js_hero__bg
    .hero__socials
      ul.socials__list
        each item in socials
          li.socials__item.socials__item--hero
            a(href=`${item.href}`).socials__link
              +icon(`${item.name}`, 'social__img')
    .hero__menu
      .burger-btn#js_menuBtn
        button(type="button").burger-btn__elem
    .hero__title.js_hero__title
      +icon('portfolio_header', 'hero__pic')
    .hero__content.js_hero__content
      +user('Корытов Артем', 'user__title', 'Личный сайт веб разработчика', 'user__desc')
    button(type="button").hero__arrow-down.arrow__container.arrow__container--down
      +icon('arrow_down', 'arrow-down__pic' )

