//navigation bar
-var links = ['Мои работы', 'Обо мне', 'Блог']

nav.nav
  ul.nav__list
    each link in links
      - var linkName = link

      li.nav__item
        a.nav__link(href="#") #{linkName}
