include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    .wrapper.welcome
      main.welcome__content
        .welcome__top
          button.btn__auth
            span Авторизоваться
        block profile
        p.welcome__copyright © Корытов Артем | создано с любовью в LoftSchool | 2018

    

    script(src="auth.bundle.js")