.skills__container
  .skills__title-container
    h2.skills__title.title--multiline.title.title--small
      | Чем я могу быть
      br
      | Вам полезен
    p.skills__desc
      | Больше всего меня привлекет Frontend разработка,
      | но я также знаком и могу решать не сложные задачи на Backend.
      | Но давайте по порядку.
  .skills
    ul.skills__list
      -
        var skills = [
        { name: 'Frontend', tech: ['HTML5', 'CSS3', 'JavaScript & jQuery']},
        { name: 'Backend', tech: ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']},
        { name: 'WorkFlow', tech: ['Git', 'Gulp', 'Webpack']}
        ]
      each skill in skills
        li.skills__item
          h3.skills__name #{skill.name}
          ul.skills__block
            each tech in skill.tech
              li.skills__tech
                svg(viewBox="0 0 120 120" preserveAspectRatio="none").circle__percentage
                  circle(cx="60" cy="60" r="50" stroke-width='40' stroke='#00bfa5' fill='none').circle--under.circle
                  circle(cx="60" cy="60" r="50" stroke-width='40' stroke='#00bfa5' fill='none').circle--above.circle
                span.skill__tech-name #{tech}
