.about__container {
  position: relative;
  display: flex;
  height: 100vh;
}

.about__col {
  position: relative;
  display: flex;
  height: 100%;
  width: 50%;
  background-color: $bg-color;
  padding: 20px 0;

  &--right {
    display: flex;
    flex-direction: column;
  }

  &--bg-dark {
    background-color: $bg-color--dark;
  }
}

.about__content {
  display: flex;
}

.about__title {
  padding: 0 20px;
}

.about__triangle {
  position: absolute;
  display: flex;
  bottom: 100%;
  width: 100%;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.about__triangle-pic {
  height: 100%;
  width: 100%;
  fill: $bg-color;

  &--dark {
    fill: $bg-color--dark;
  }
}

.about__title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.about__userblock {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 20px;
}