.hero__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./assets/images/bg/bg-hero.png) center center / cover no-repeat;
}

.hero__socials {
  position: absolute;
  top: calc(32 * 100 / 1200)%;
  left: calc(38 * 100 / 1800)%;
}

.hero__menu {
  position: absolute;
  top: calc(38 * 100 / 1200)%;
  right: calc(32 * 100 / 1800)%;
}


.hero__title {
  position: absolute;
  display: flex;
  //width: calc(1200 * 100 / 1800)%;
  //height: calc(350 * 100 / 1200)%;
  width: 90%;
  height: 90%;
}

.hero__pic {
  width: 100%;
  height: 100%;
  fill: white;
  opacity: .06;
}

.hero__arrow-down {
  position: absolute;
  bottom: calc(100 * 100 / 1200)%;
  z-index: 100;
}