.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2.222222222%;
}

.skills__title {
  //padding: 0 30%;
  //width: 50%;
  margin-bottom: calc(39 / 16)rem;
}

.skills__desc {
  margin-bottom: 56px;
}

.skills__list {
  width: 100%;
}

.skills__block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.skills__item {
  display: flex;
  flex-direction: column;
}

.skills__name {
  font-family: 'Roboto-Medium';
  font-size: calc(28 / 16)rem;
}

.skills__tech {
  position: relative;
  display: flex;
  margin-right: 40px;
  margin-bottom: 20px;
}

.skill__tech-name {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

