.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.skills__title {
  //padding: 0 30%;
  width: 50%;
  margin-bottom: 10%;
}

.skills__desc {
  margin-bottom: 56px;
}

.skills__list {
  width: 100%;
}

.skills__block {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.skills__item {
  display: flex;
  flex-direction: column;
}

.skills__name {
  font-family: 'Roboto-Medium';
  font-size: calc(28 / 16)rem;
}

