.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'BERNIERRegular-Regular';
  font-size: calc(63 / 16)rem;
  color: $dark-grey;
  text-align: center;
  line-height: .75;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 22px;
    height: 5px;
    background-color: $dark-grey;
    opacity: .2;
  }

  &::before {
    margin-right: calc(20 / 16)rem;
  }

  &::after {
    margin-left: calc(20 / 16)rem;
  }

  &--small {
    font-size: calc(35 / 16)rem;
  }

  &--multiline {
    line-height: 41px;
    align-items: initial;

    &::before,
    &::after {
      margin-top: 5%;
    }
  }

  &--color-white {
    color: white;
    margin: 30px 0 15px 0;

    &::before,
    &::after {
      background-color: white;
    }
  }
}

.title-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-36%);
}

.title__pic {
  width: 100%;
  fill: $dark-grey;
  opacity: .07;
}