.userblock {
}

.userblock__wrap {

}

.userblock__img {
  max-width: 100%;
  margin-bottom: calc(40 / 16)rem;
}

.userblock__title {
  margin-bottom: 40px;
}

.userblock__text {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}