
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/bg-index.png) center center / cover no-repeat;
  height: 100%;
  width: 100%;
}

.welcome__top {
  position: absolute;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  width: 100%;
  padding-top: calc(33 * 100 / 1800 + 0px);
}

.welcome__copyright {
  font-family: Roboto-Light;
  color: #fff;
  align-self: flex-end;
}
