.comment {
  display: flex;
  flex-direction: column;
  margin-right: calc(20 / 16)rem;
}

.comment__quotes {
  font-family: "FontAwesome";
  font-size: 36px;
  color: rgba($dark-grey, .2);
  margin-bottom: calc(10 / 16)rem;

  &:before {
    content: '\f10d';
  }
}

.comment__text {
  margin-bottom: calc(27 / 16)rem;
  word-break-wrap: none;
}

.comment__user {
  display: flex;
  align-items: center;
}

.comment__user-desc {
  display: flex;
  flex-direction: column;
  color: $main;
  line-height: 24px;
}

.comment__img-wrap {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: calc(22 / 16)rem;
}

.comment__name {
  font-family: 'Roboto-Bold';
}