.reviews__container {
  background: url(./assets/images/bg/bg-review.png) center center / cover no-repeat;
  display: grid;
  grid-gap: 20px;
  grid-template:
    'title title' auto
    'comment-l comment-r' auto
    'callback callback' 100vh
  / 1fr 1fr;
}

.reviews__top {
  grid-area: title;
}

.reviews__bot {
  grid-area: callback;
  display: flex;
}

.reviews__title {
  grid-area: title;
  position: relative;
  margin: 68px 0;

  .title__pic{
    height: 179px;
  }

  .title {
    line-height: 1;
  }
}

.reviews__title-text {
  line-height: 1;
}

.reviews__item {

  &--left{
    grid-area: comment-l;
    justify-self: end;
  }
  &--right{
    grid-area: comment-r;
  }
}

.reviews__bot {
  display: flex;
  justify-content: center;
  align-items: center;
}
