.reviews__container {
  background: url(./assets/images/bg/bg-review.png) center center / cover no-repeat;

}

.reviews__bot {
  display: flex;
  height: 100vh;
}

.reviews__title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20.8333333333%;
  margin: calc(68 / 16)rem 0;

  .title__pic{
    height: 179px;
  }

  .title {
    line-height: 1;
  }
}

.reviews__title-text {
  line-height: 1;
}

.reviews__top {
  display: flex;
}

.reviews__top-col {
  display: flex;
  width: 50%;
}
.reviews__top-col--left {
  justify-content: flex-end;
  width: 50%;
}

.reviews__item {
  width: 50%;
}

.reviews__bot {
  display: flex;
  justify-content: center;
  align-items: center;
}
