.reviews__container {
  display: flex;
  flex-direction: column;

}

.reviews__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.reviews__title {
  position: relative;
  margin: 68px 0;

  .title__pic{
    height: 179px;
  }

  .title {
    line-height: 1;
  }

  @include phones {
    margin: 40px 0 20px 0;
  }
}

.reviews__comments {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  padding: 0 20px;
  flex-wrap: wrap;
}

.reviews__arrow-container {
  display: none;
  width: 100%;
  margin-bottom: 300px;

  @include tablets {
    display: flex;
    justify-content: center;
  }
}
