
.slider {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $bg-color--light;
}

.slider__wrapper {
  display: grid;
  grid-template:
  "info info main main" 1fr
  "info info main main" 1fr
  "info info main main" 1fr
  "info info btn-prev btn-next" 1fr
  / 1fr 1fr 1fr 1fr;
  height: 100%;
  background-color: #efebe0;
}

.slider__info {
  grid-area: info;
  justify-content: center;
  align-items: center;
  background-color: #f0efe9;
}

.slider__title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 57px 62px;
}

.slider__content {
}

.slider__main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.slide__img {
  max-width: 60%;
}

.slider__buttons {
  grid-area: btns;
  display: flex;
}

.slider__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--prev {
    grid-area: btn-prev;
  }

  &--next {
    grid-area: btn-next;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $dark-grey;
    opacity: .5;
    transition: all .3s;
  }
}

.slider__btn:hover::after {
  opacity: .3;
}

.slider__btn-pic {
  position: absolute;
  fill: white;
  width: 43px;
  height: 27px;
  z-index: 999999;
}

.slider__btn:hover{
  .slider__btn-pic {
    animation: .7s ease-in-out 0s normal none infinite running;

    &--portf_arrow_up {
      animation-name: bounce-up;
    }

    &--portf_arrow_down {
      animation-name: bounce-down;
    }
  }
}

@keyframes bounce-up {
    0% {transform: translateY(0)}
    50% {transform: translateY(-50%)}
    100% {transform: translateY(0)}
}
@keyframes bounce-down {
    0% {transform: translateY(0)}
    50% {transform: translateY(50%)}
    100% {transform: translateY(0)}
}

