.works__container {
  display: grid;
  grid-template:
          'hero' 100vh
          'works' 100vh
          'reviews' auto
    / 1fr;
  height: 100%;
}

.works__content {
  grid-area: works;
  background-color: #faf8f0;
}

works__reviews {
  grid-area: reviews;
}




